<h1>經濟復興系統</h1>

<p>您好，請在下方輸入資料以換取復興券</p>

<%= form_for @voucher do |form| %>
  <%= form.label :name, '公司名稱' %>
  <%= form.text_field :name %>

  <%= form.label :uniform, '公司統編' %>
  <%= form.number_field :uniform %>
  
  <%= form.label :tel, '聯絡電話' %>
  <%= form.text_field :tel %>
  
  <%= form.submit :submit %>
<% end %>