<!DOCTYPE html>
<html>
  <head>
    <title>Revival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- jquery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  </head>

  <body>
    <% if notice %>
      <%= notice %>
    <% end %>
    
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
