<% if notice %>
  <%= notice %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">公司名稱</th>
      <th scope="col">公司統編</th>
      <th scope="col">聯絡電話</th>
      <th scope="col">兌換券序號</th>
    </tr>
  </thead>
  <tbody>
    <% @vouchers.each do |voucher| %>
    <tr>
      <th scope="row"></th>
      <td scope="row"><%= voucher.name %></td>
      <td scope="row"><%= voucher.uniform %></td>
      <td scope="row"><%= voucher.tel %></td>
      <td scope="row"><%= voucher.serial %></td>
    </tr>
    <% end %>
  </tbody>
</table>