<h1>經濟復興系統</h1>

<p>您好，請在下方輸入資料以換取復興券</p>

<% if @voucher.errors.any?  %>
  <ul>
  <% @voucher.errors.messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<div class="mx-auto">
  <%= form_for @voucher, url: {action: "create"} do |f| %>
  <div class="form-group mb-2">
    <%= f.label :name, '公司名稱' %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group mb-2">
    <%= f.label :uniform, '公司統編' %>
    <%= f.number_field :uniform %>
  </div>
  <div class="form-group mb-2">
    <%= f.label :tel, '聯絡電話' %>
    <%= f.text_field :tel %>
  </div>
  <small class="form-text text-muted">We'll never share your information with anyone else.</small>
    <%= f.submit '送出', class: "btn btn-primary" %>
  <% end %>
</div>